.table-row-cell:empty {
	-fx-background-color: white;
}

.table-row-cell:empty .table-cell {
	-fx-border-width: 0px;
}

.list-cell:empty {
    -fx-background-color: white;
}

.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}